.list {
  display: grid;
  gap: var(--space-4);
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-8);
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: var(--space-1) var(--space-4);
  padding: var(--space-3) 0;
  border-bottom: 1px solid var(--color-grey);
}

.name {
  font-family: var(--font-heading);
  font-weight: var(--font-semibold);
  font-size: var(--text-base);
  text-transform: capitalize;
}

.description {
  grid-column: 1 / 2;
  font-size: var(--text-sm);
  color: var(--color-text-light);
}
